// the color i use for discount offer 
$discount-color: #ff0076; 

// background color 
$bg-color: #181823; 
$bg-second-color: #1c2534;

// button primary color 
$btn-primary-color: #33ffd9; 
$btn-secondary-color: #fff;

// the  color i use for X items 
$x-color: #f44336; 

// gradient color
$text-grad-1: #cdfff6;
$text-grad-2: #14b799;

// text color 
$text-primary-color: #fff;
$text-secondary-color: #000;

// ad color 
$left-ad-bg-color: #fff;
$right-ad-bg-color: trasparent;

// color of the star in feedback section 

$star-color: #fec84b;