@import "./colors";
@import "./utilies";
@import "./media-queries";

#feedback-section{
    background: linear-gradient($bg-color, $btn-primary-color);
    margin-top: 60px;
    padding: 10px;

    .feedback-container{
        @include flexCenter;
        flex-direction: column;

        .feedback-title{
            color: $text-primary-color;
            font-size: 1.5rem;
        }

       .card-container{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 3rem 1rem 0 1rem;

    @include intermediate-big{
        flex-direction: column;
    }

    @include mobile{
        flex-direction: column;
    }

        .feedback-card{
            border: 3px solid $btn-primary-color;
            border-radius: 20px;
            height: 400px;
            width: 400px;
            padding: 15px 35px 15px 35px;
            background: $bg-color;
            color: $text-primary-color;

            @include mobile{
                width: 270px;
                height: 80vh;
                
            }

            @include intermediate{
                width: 270px;
                height: 80vh;
            }


            &-header{

                display: flex;
                align-items: center;
                gap: 20px;
                padding: 20px;

                img{
                    width: 80px;
                    border-radius: 100%;
                }

                .card-name-star{
                    h5{
                        color: $text-primary-color;
                        font-size: 1.3rem;
                    }

                    i{
                        color:$star-color;
                    }
                }

                
            }

            .trustpilot-referal{
                color: $btn-primary-color;
                text-decoration: none;
                margin-top: 5px;
                cursor: pointer;
            }
        }
       }
    }

    .btn-feedback{
        margin-top: 40px;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        background-color: $bg-color;
        color: $text-primary-color;
        font-size: 1rem;
        font-weight: bold;
        border: 3px solid $btn-primary-color;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover{
            
            transform: translate(0, -15px);
        }

        a{
            text-decoration: none;
            color: $btn-primary-color;
        }
    }
}